.root {
    -fx-background-color: white; /* Tamno siva boja */
}

	
.text-area{
	-fx-font-family: Courier New;
	-fx-font-size: 22;
	-fx-text-fill: black;
}

.text-area .content{
    -fx-background-color: white
}

.text-field {
	-fx-font-family: Courier New;
	-fx-font-size: 22;
	-fx-text-fill: black;
	-fx-background-color: #86A8E7;
}