.root{
	-fx-background-color: #86A8E7;
}
	
.text-area{
	-fx-font-family: Courier New;
	-fx-font-size: 22;
	-fx-text-fill: black;
}

.text-area .content{
    -fx-background-color: #86A8E7
}

.text-field {
	-fx-font-family: Courier New;
	-fx-font-size: 22;
	-fx-text-fill: #012833;
	-fx-background-color: white;
}
.label {
	-fx-font-family: Courier New;
	-fx-font-size: 22;
	-fx-text-fill: #012833;
	-fx-background-color: #86A8E7;
}